@import './tokens.css';
@import './reset.css';

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
}
